:root {
  /* Fonts */
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Text colors */
  --main-txt-cl: #303030;
  --secondary-txt-cl: #ffffff;
  --accent-txt-cl: #ff6c00;
  --light-gray-txt-cl: #555555;
  --gray-txt-cl: #9da4bd;
  --gray-txt-cl-60: rgba(157, 164, 189, 0.6);

  /* Bg colors */
  --main-bg-cl: #111319;
  --secondary-bg-cl: #ffffff;
  --accent-bg-cl: #ff6c00;

  /* Others */
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  /* background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E'); */
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* common styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red; */
  outline-offset: -2px;
}
.uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.uppertitle::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background: #303030;
}
.uppertitle-light {
  color: var(--gray-txt-cl-60);
}
.uppertitle-light::before {
  background: rgba(157, 164, 189, 0.6);
}
.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.title-light {
  margin-bottom: 44px;
  color: var(--secondary-txt-cl);
}
.undertitle {
  color: #555555;
}
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: currentColor;

  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}
.btn-light {
  color: #ffffff;
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  background-color: var(--main-bg-cl);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 124px;
}
.header-img {
  fill: #303030;
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  gap: 30px;
}
.header-nav-item {
}
.header-nav-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-txt-cl);
}
.header-contact {
  margin-right: 40px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}
.header-btn {
}

/**
  |============================
  | Hero section
  |============================
*/
.hero {
}
.hero-container {
  display: flex;
}
.hero-media {
  width: 100px;
}
.hero-right-side {
  flex-grow: 1;

  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  background-color: var(--main-bg-cl);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/hero/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  margin-bottom: 20px;

  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-txt-cl);
}
.hero-desc {
  width: 360px;
  color: var(--gray-txt-cl);
}
/* media styles */
.media {
}
.media-item {
}
.media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}
/* slider styles */
.slider-controls {
}
.slider-controls-item {
}
.slider-controls-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);

  background-color: transparent;
}
.slider-controls-btn[disabled] {
  color: var(--gray-txt-cl-60);
}

/**
  |============================
  | About styles
  |============================
*/
.about {
}
.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-item {
}
.about-img {
}
.about-right-side {
  width: 470px;
}
.about-undertitle {
  margin-bottom: 20px;
}
.about-desc {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
  color: var(--light-gray-txt-cl);
}

/**
  |============================
  | Price styles
  |============================
*/
.price {
  max-width: 1600px;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  background-color: var(--main-bg-cl);
  background-image: url("../images/price/bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.price-wrap {
  display: flex;
  justify-content: space-between;

  margin-bottom: 44px;
}
.price-list {
  width: 570px;
  padding: 30px 20px;
}
.price-list:first-child {
  background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
}
.price-list:last-child {
  background-image: linear-gradient(#090b13, rgba(9, 11, 19, 0.2));
}
.price-item {
  display: flex;
  align-items: baseline;
  gap: 12px;

  margin-bottom: 20px;
  color: var(--gray-txt-cl);
}
.price-item:last-child {
  margin-bottom: 0;
}
.price-item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.2);
}
.price-service-name {
  order: -1;
}
.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
}
.benefits-container {
  display: flex;
  gap: 30px;
}
.benefits-left-side {
  width: 570px;
}
.benefits-list {
  width: 370px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.benefits-item {
  width: 170px;
  min-height: 133px;
  padding: 20px 24px;

  background: #f7f7f7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.benefits-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}
.benefits-right-side {
  width: 500px;
}
.benefits-quantity {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.benefits-quantity::after {
  content: "\002B";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-txt-cl);
}
.benefits-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-txt-cl);
}
.benefits-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}
/**
  |============================
  | Team styles
  |============================
*/
.team {
  background: #f7f7f7;
}
.team-title {
  margin-bottom: 44px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-item {
}
.team-img {
}
.team-subtitle {
  margin-top: 30px;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
}
.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-txt-cl);
}
/* socials styles */
.socilas {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials-item {
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  /* color: #303030; */
  fill: #303030;
}
.socials-link:hover,
.socials-link:focus {
  /* color: #ff6c00; */
  fill: #ff6c00;
}
.socials-icon {
  /* fill: currentColor; */
}
/**
  |============================
  | Booking styles
  |============================
*/

.wrapper {
  max-width: 1600px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: var(--main-bg-cl);
  background-image: url(../images/contacts/bg-img.png);
  background-repeat: no-repeat;
  background-position: top left calc(50% + 408px);
  background-size: contain;
}
.booking {
  width: 570px;
}
/**
  |============================
  | Contacts styles
  |============================
*/
.contacts {
  padding-left: 100px;
  width: 570px;
}
.contacts-address {
  margin-bottom: 72px;
  font-style: normal;
  color: var(--gray-txt-cl);
}
.contacts-list {
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link {
}
.contacts-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--gray-txt-cl-60);
}
.contacts-schedule {
  color: var(--gray-txt-cl);
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--gray-txt-cl);
}
