body {
  padding-top: 100px;
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}
/* reset end */

.flex-container {
  width: 1200px;
  min-height: 600px;
  padding: 15px;
  margin: 0 auto;

  background-color: lightblue;
  border-radius: 10px;
}

.flex-element {
  width: 270px;
  height: 360px;

  font-size: 3em;
  line-height: 150px;
  color: white;
  text-align: center;

  border-radius: 10px;
  background-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/**
  |============================
  | Flexbox layout
  |============================
*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 30px;

  /* gap: 50px 30px; */

  /* Default properties */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* align-content: stretch; */
  /* flex-wrap: nowrap; */
}

.flex-element {
  /* Default properties */
  /* flex-basis: auto; */
  /* flex-grow: 0; */
  /* flex-shrink: 1; */
}
